body {
  background-color: darkslateblue;
}
img {
  width: 300px;
  border-radius: 10px;
}
.image {
  padding: 50px;
  text-align: center;
}
p {
  color: white;
}
h1 {
  color: white;
  font-family: "Passions Conflict", cursive;
  font-size: 70px;
}
